body{
    background-color: #DDE6ED;
}

.mg-bottom{
    margin-bottom: 5%;
}

.img-size{
    width: 320px; height: 450px;
}

@media only screen and (max-width: 760px) {
    .img-size {
        width: 520px; height: 600px;
    }
  }

.max-lenght p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }


.navbar img{
    width: 40px;
    height: 40px;
}

.navbar-light {
    background-color: #27374D;
}

.form-outline{
    border: 1px solid rgba(0, 0, 0, 0.152) !important;
    border-radius: 20px;
}

.bd-radius{
    border-radius: 20px;
}

.input-group{
    width: 800px;
}


.custom-select{
  display: block;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #3C1C78;
  background-color: #16013E;
  margin-top: 1%;
  margin-left: 70%;
  border-radius: 5px;
  justify-content: right;
  display: flex;
}

.custom-select i {
    margin: 5%;
    color: white;
}
  select{
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #ffffff;
    
  }

  option{
    color: black;
  }


  &:after{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: '\2228';
    text-align: center;
    color: #714BB9;
    font-size: 24px;
    z-index: -1;
  }

  .display-flex{
    display: flex !important;
  }

  .imdb-area {
    background-color: rgb(212, 255, 0);
    padding:0 5px;
    color: rgb(180, 0, 0);
    border-radius: 5px;
    border: 1px solid black;
  }

  .bg-gray{
    background-color: rgba(175, 175, 175, 0.311);
  }
  .p-10{
    padding: 10px !important;
  }

  .p-6{
    padding:7px 10px !important;
  }

  .p-6 p{
    margin: 0px;
  }
  .info-area{
    border-radius: 15px 15px 0 0;  
  }

  .bd-grey{
    border: 1px solid rgba(175, 175, 175, 0.311);
  }

  .date-info .date {
    margin-left: 30%;
  }

  .type-info .type{
    margin-left: 25%;
  }
  .bg-dblue{
    background-color: rgba(1, 1, 116, 0.132);
  }

  .lan-info .lan{
    margin-left: 26%;
  }

  .foot-area{
    padding-bottom: 4% !important;

  }

  .foot-area p {
    padding-top: 3%;
  }

